#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#h1{
    color:rgb(0, 0, 0);
}
#h3{
    color:rgb(0, 0, 0);
}
#h4{
    color:rgb(0, 0, 0);
}
image{

    border-radius: 2px;
    padding: center;
    box-shadow: 0 6px 8px 0 rgb(2, 2, 2 , 0.2);
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}